body{
  margin: 0;
  padding: 0;
}

img{
  height: 150px;
  width: auto;
}

#id1,#id2, #id3, #id4, #id5, #id6, #id7, #id8, #id9, #id10, #id11, #id12, #id13, #id14, #id15, #id6, #id17, #id18, #id19, #id20, #id21, #id22, #id23, #id24, #id25{
  display: inline-block;
  margin: 15px;
  max-width: 250px;

}

button, input{
  padding:5px;
  margin: 10px;
  font-size: 18px;
}

.row{
  display:flex;
  flex-direction: row;
}

.cell{
  flex:1;
  margin: 0 15px;
  display: inline-block;
}

.left-side{

  background: #39b3ce;
  background-size: auto;

}
.right-side{
 margin-left: 15px;

}

.header{
  height: 200px;
background-image: url('download.jpeg');
display: flex;
justify-content: center;
}

.title{
color: white;
width: 250px;

}

.navbar{
  background: #39b3ce;
  background-size: auto;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  padding:15px;
}
